extends ../layouts/main_layout.pug

block styles 
    link(rel="stylesheet", href="/css/cart.css")

block content 
    main 
        div.main-section
            h1.main-section-heading Orders Container 
            h2.main-section-items #{orderDetails.length > 0 ? orderDetails.length : 0} orders
        if orderDetails.length > 0
            div.order-container 
                table.cart__table
                    tr.table__header
                        th Order#
                        th OrderDetails
                        th Action
                    each order in orderDetails
                        tr.table__rows
                            th.prd__col #{order._id}
                            th
                                table.cart__table
                                    tr.table__header 
                                        th ItemDetails
                                        th Price
                                        th Quantity
                                        th Subtotal
                                    each product in order.items
                                        tr.table__rows 
                                            th 
                                                div.prd__details 
                                                    div.prd__img 
                                                        img.img__dis(src=product.product.imgUrl, alt=product.product.title) 
                                                    p #{product.product.title}
                                            th.prd__col #{product.product.price}
                                            th.prd__col #{product.quantity}
                                            th.prd__col #{product.quantity * product.product.price}
                            th
                                form.delete__action(action="/delete-order/"+order._id, method="POST")  
                                        button.btn Cancle
                        
            //- div.totalPrice__container 
            //-     div.sec1 
            //-         p Delivery and payment options can be selected later
            //-         p Safe and Secure Payments
            //-         p 100% Payment Protection, Easy Returns Policy 
            //-     div.sec2 
            //-         p Total Price: 
            //-         p Delivery Charges:
            //-     div.sec3
            //-         - let totalPrice = 0
            //-         each order in orderProducts
            //-             each prd in order.products
            //-                 - totalPrice = totalPrice + (prd.orderItem.quantity * prd.price)
            //-         p Rs. #{totalPrice}
            //-         p.free FREE
            //-     div.sec4
            //-         form(action="/post-orders", method="POST")  
            //-             button PROCEED TO PAY Rs. #{totalPrice}
        else 
            h1(style="text-align:center") No Orders Placed!! 