extends ../layouts/main_layout.pug

block styles 
    link(rel="stylesheet", href="/css/auth.css")

block content 
    main.main-section 
            form.form-section(action="/auth/login", method="POST", novalidate)
                h1.form-title Login-Page 
                div.form-controler 
                    label(for="userEmail") Email 
                    if(errorMessage == "Invalid Email !!")
                        input.invalid(type="email",placeholder="Email", name="userEmail", value=outPutData.email)
                    else 
                        input(type="email",placeholder="Email", name="userEmail", value=outPutData.email)
                div.form-controler 
                    label(for="userPassword") Password 
                    if(errorMessage == "Invalid Password !!")
                        input.invalid(type="password",placeholder="Password", name="userPassword", value=outPutData.password)
                    else 
                        input(type="password",placeholder="Password", name="userPassword", value=outPutData.password)
                p.error__msg #{errorMessage}
                input(type="hidden", name="_csrf", value=csrfToken)
                div.action_sec
                    button.form-button(type="submit") SignIn
                    a(href="/auth/reset") 
                        h3.signup__pageLink Forgot_Password
            div.signup__link
                h3.signup__content New User:
                div.signup_div
                    a(href="/auth/signup") 
                        h3.signup__pageLink SIGNUP  
